
.document {
	margin: 0;
	padding: 0;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	line-height: 140%;
	font-size: 11px;
	color: #e8e8e8;
	background: #000000 url(/images/bg.jpg) top center repeat-x fixed;
	text-align: center;
}

.clear {
  clear: both;
}

a:link, a:visited {
  text-decoration: none;
  color: #e8e8e8;
}

a:hover {
  text-decoration: underline;
}

li .active {
  color: #FFFFFF;
}

#flaga {
  position: fixed; 
  top: 0px; 
  left: 0px; 
  background: url(/images/flaga.png) no-repeat; 
  width: 137px; 
  height: 526px; 
  z-index: 100;
}

.kartka {
position: absolute; top: 0px; right: 0px; width: 212px; height: 141px; background: url(/images/kartka.png) no-repeat;
}

.kartka a {
  display: block;
  width: 212px;
  height: 141px;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

#flage {
  width: 100%; 
  margin: 0px; 
  padding: 0px; 
  background: url(/images/flaga.png) left top no-repeat;
}

#outerframe {
  width: 966px;
	margin: 0px auto;
	padding: 0px;
	text-align: center;
	z-index: 1;
}

#frame {
	width: 802px;
	margin: 0px 82px 0px 82px;
	padding: 0px 0px 30px 0px;
	text-align: left;
}

#header {
	width: 780px;
	height: 137px;
	background: url(/images/header.png) no-repeat;
	padding: 0px 93px 0px 93px;
	text-align: left;
}

.logo {
	width: 780px;
  height: 113px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	display: block;
}

#header-in {
	width: 780px;
  height: 24px;
  overflow: hidden;
}

#header-in-1 {
	width: 400px;
  height: 24px;
  float: left;
  line-height: 24px;
  padding-left: 10px;
  color: #cac7c7;
}

#header-in-2 {
	width: 350px;
  height: 24px;
  float: right;
  line-height: 24px;
  padding-right: 10px;
  text-align: right;
}

#left {
  float: left;
  margin: 0px;
  width: 224px;
  padding: 0px;
}

#right {
  float: right;
  margin: 0px;
  width: 508px;
  padding: 3px 38px 0px 0px;
}

#lang {
  width: 126px;
	height: 19px;
	background: url(/images/lang.png);
	padding: 0px 0px 0px 382px;
}

#lang a {
  border: 0px;
  margin: 0px;
  padding: 0px;
  display: block;
  height: 19px;
  float: left;
  margin-right: 1px;
}

.english {
  width: 31px;
  /* background: url(/images/en.png) top left no-repeat; */
}

.polish {
  width: 29px;
  /*background: url(/images/pl.png) top left no-repeat;*/
}

.german {
  width: 30px;
  /*background: url(/images/de.png) top left no-repeat;*/
}

.france {
  width: 30px;
  /*background: url(/images/ru.png) top left no-repeat;*/
}

#witamy {
  width: 443px;
	height: 56px;
	padding: 0px;
	background: url(/images/witamy.png);
	text-align: center;
	padding: 82px 0px 0px 65px;
}

#main {
  width: 496px;
  padding: 30px 0px 0px 12px;
}

.text-top {
  width: 495px;
  height: 55px;
  background: url(/images/text-top.jpg);
}

.text-top-newsy {
  width: 495px;
  height: 55px;
  background: url(/images/text-top-newsy.jpg);
}

.text {
  width: 465px;
  background: #020202;
  padding: 5px 15px 5px 15px;
}

.text-bottom {
  width: 495px;
  height: 16px;
  background: url(/images/text-bottom.jpg);
  margin-bottom: 20px;
}

#footer {
	width: 780px;
	height: 108px;
	padding: 0px;
	margin: 0px 94px 15px 92px;
	clear: both;
	background: url(/images/footer.png) no-repeat;
}

.foot {
  float: right;
  display: block;
  border: 0px;
}

.foot img {
  border: 0px;
}

.footg {
  float: right;
  display: block;
  border: 0px;
}

.foot1 {
  background: url(/images/jowood.jpg) no-repeat;
  width: 120px;
  height: 36px;
}

.foot2 {
  background: url(/images/themodders.png) no-repeat;
  width: 146px;
  height: 29px;
}

/* MENU */

#menu-1, #menu-2, #menu-3, #menu-4, #menu-5, #menu-6, #menu-7 {
  width: 224px;
}

#menu-1 {
  background: url(/images/menu-1.png);
  height: 251px;
}

#menu-2 {
  background: url(/images/menu-2.png);
  height: 182px;
}

#menu-3 {
  background: url(/images/menu-3.png);
  height: 218px;
}

#menu-4 {
  background: url(/images/menu-4.png);
  height: 279px;
  padding: 78px 2px 0px 70px;
  width: 152px;
}

#menu-5 {
  background: url(/images/menu-5.png);
  height: 251px;
}

#menu-6 {
  background: url(/images/menu-6.png) no-repeat;
  height: 260px;
  margin-bottom: 25px;
}

#menu-7 {
  background: #020202;
  padding: 10px 0;
}

#left ul {
	padding: 80px 2px 0px 70px;
	margin: 0px;
	border: 0px;
	list-style: none;
}

#left #menu-4 ul {
  padding: 0px 0px 0px 15px;
}

#left #menu-7 ul {
  padding: 0px 2px 0px 20px;
}

#left ul li {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

#left ul li a {
	display: block;
	height: 20px;
	line-height: 20px;
	color: #FFFFFF;
}

#left ul.menu li.leaf a {
	font-size: 12px;
}

/**
 * Generic elements
 */

input {
  font: 12px/100% Verdana, sans-serif;
  color: #494949;
}

textarea, select {
  font: 12px/160% Verdana, sans-serif;
  color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Verdana,Arial,Helvetica,sans-serif;
}

h1 {
  font-size: 170%;
}

h2 {
  font-size: 160%;
  line-height: 130%;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 110%;
}

ul, quote, code, fieldset {
  margin: .5em 0;
}

p {
  margin: 0.6em 0 1.2em;
  padding: 0;
}

a:active, a.active {
  color: #FFFFFF;
}

/**
 * Local tasks
 */
ul.primary, ul.primary li, ul.secondary, ul.secondary li {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

#tabs-wrapper {
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid #e9eff3;
  position: relative;
}
ul.primary {
  padding: 0.5em 0 10px;
  float: left; /* LTR */
}
ul.secondary {
  clear: both;
  text-align: left; /* LTR */
  border-bottom: 1px solid #e9eff3;
  margin: 0px;
  padding: 0 26px 0.6em;
}
h2.with-tabs {
  float: left; /* LTR */
  margin: 0 0 0 2em; /* LTR */
  padding: 0;
}

ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited,
ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited {
  border: 0;
  background: transparent;
  padding: 4px 1em;
  margin: 0 0 0 1px; /* LTR */
  height: auto;
  text-decoration: none;
  position: relative;
  top: -1px;
}
ul.primary li.active a, ul.primary li.active a:link, ul.primary li.active a:visited, ul.primary li a:hover,
ul.secondary li.active a, ul.secondary li.active a:link, ul.secondary li.active a:visited, ul.secondary li a:hover {
  background: url(/images/bg-tab.png) repeat-x 0 50%;
  color: #fff;
}
ul.primary li.active a,
ul.secondary li.active a {
  font-weight: bold;
}


/* table */

table {
  margin: 1em 0;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #d3e7f4;
  color: #494949;
  font-weight: bold;
}

th a:link, th a:visited {
  color: #6f9dbd;
}

td, th {
  padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
  border: solid #d3e7f4;
  border-width: 1px 0;
}

tr.odd, tr.info {
  background-color: #000000;
}

tr.even {
  background-color: #ffffff;
  color: #000000;
}

tr.even a:link, tr.even a:hover, tr.even a:active, tr.even a:visited {
  color: #000000;
}


/**
 * Nodes & comments
 */
.node {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 5px 0px;
  background: url(/images/node-border.jpg) bottom no-repeat;
}

ul.links li, ul.inline li {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0; /* LTR */
  padding-right: 1em; /* LTR */
  background-image: none;
}

.node .links, .comment .links {
  text-align: left; /* LTR */
}

.node .links ul.links li, .comment .links ul.links li {}
.terms ul.links li {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 1em;
}

.picture, .comment .submitted {
  float: right; /* LTR */
  clear: right; /* LTR */
  padding-left: 1em; /* LTR */
}

.new {
  color: #ffae00;
  font-size: 0.92em;
  font-weight: bold;
  float: right; /* LTR */
}

.terms {
  float: right; /* LTR */
}

.preview .node, .preview .comment, .sticky {
  margin: 0;
  padding: 0.5em 0;
  border: 0;
  background: 0;
}

.sticky {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #e0e5fb;
  margin-bottom: 2em;
}

#comments {
  position: relative;
  margin: 0px;
  padding: 0px;
}

#comments h2.comments {
  margin: 0px;
  padding: 0px;
  background: #000000 url(/images/gradient-inner.png) repeat-x 0 0;
}

.comment {
  margin: 0px;
  padding: 0px;
}

.indented {
  margin-left: 25px; /* LTR */
}

.comment h3 a.active {
  color: #FFFFFF;
}

.node .content, .comment .content {
  margin: 0.6em 0;
}

/**
 * Poll.module
 */
.poll .bar {
  border: solid #f0f0f0;
  border-width: 0 1px 1px;
}

.poll .bar .foreground {
}

.poll .percent {
  font-size: .9em;
}

/**
 * Autocomplete.
 */
#autocomplete li {
  cursor: default;
  padding: 2px;
  margin: 0;
}

/**
 * Collapsible fieldsets
 */
fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #d9eaf5;
}

/* Targets IE 7. Fixes background image in field sets. */
*:first-child+html fieldset {
  padding: 0 1em 1em;
  background-position: 0 .75em;
  background-color: transparent;
}

*:first-child+html fieldset > .description, *:first-child+html fieldset .fieldset-wrapper .description {
  padding-top: 1em;
}

fieldset legend {
  /* Fix disappearing legend in FFox */
  display: block;
}

*:first-child+html fieldset legend, *:first-child+html fieldset.collapsed legend {
  display: inline;
}

/* moje dodatki */

.block-region {
  display: none;
}

#menu-1 h2, #menu-2 h2, #menu-3 h2 {
  display: none;
}

#search-theme-form #edit-submit {
  background: transparent;
  border: 0px;
  padding: 0px 5px;
  line-height: 24px;
  margin: 0 2px;
  color: #cacaca;
}

#search-theme-form #edit-search-theme-form-1 {
  background: url(/images/search.png) no-repeat;
  width: 144px;
  height: 15px;
  border: 0px;
  margin: 0px;
  padding: 2px;
  color: #FFFFFF;
}

/* moje wlasne rozwiazania */ 

.field-type-image .field-items .field-item a img {
margin: 0px;
}

.field-type-image .field-items .field-item {
float: left;
margin: 0px 5px 5px 0px;
width: 110px;
height: 110px;
}

/* lista galeria np. dla khornis */

.lista-galeria {
  margin: 0px auto;
  padding: 20px 0px;
  width: 400px;
  
}

.lista-galeria-pozycja {
  width: 199px;
  float: left;
  display: block;
  background: #000000;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  height: 50px;
}

.moddb {
  background: url(/images/moddb.png); 
  width: 441px; 
  height: 72px; 
  display: block; 
  margin: 30px auto; 
  padding: 0px;
}

#lang, 
#search,
#menu-2, 
#menu-3, 
#menu-4, 
#menu-5, 
#menu-1 > div > div > ul > li:nth-child(3),
#menu-1 > div > div > ul > li:nth-child(4), 
#menu-1 > div > div > ul > li:nth-child(5), 
#menu-1 > div > div > ul > li:nth-child(6) {
    filter: saturate(0) blur(1px);
    pointer-events: none;
}

